*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    overflow-x: hidden;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas: "header" "content";
}

.header {
    grid-area: header;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #a120b3;
    color: #fff;
    padding: 10px;
    box-shadow: 0px 5px 5px #404040; 
    z-index: 1;
}

.sticky {
    position: sticky;
    top: 0;
}



.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin-right: 30px;
    margin-left: 30px;
}

.menu li {
    display: inline-block;
    margin-top: 15px;
    padding: 5px;
    transition: .6s;
}

.menu li a {
    text-decoration: none;
    height: 100%;
    color: #fff;
    font-weight: 400;
    padding: 10px;
    transition: .3s;
}

li:hover {
    background-color: #740283;
    border-radius: 4px;
}

li a:hover {
    font-size: 1.1rem;
    font-weight: 500;
    color: #fff;
}

.btn-toggle {
    display: none;
}

.content {
    grid-area: content;
    box-sizing: border-box;
}

.content-input {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "inp" "side";
    padding: 30px;
    box-sizing: border-box;
}

.spreadsheet {
    padding: 30px;
    margin: auto;
}

.spreadsheet main h1, h2 {
    text-align: center;
}

.spreadsheet main span {
    font-size: 2rem;
}

#boxValues {
    text-align: justify;
    word-spacing: 1rem;
}

.table {
    border-bottom: 1px solid #cecece;
}

main {
    grid-area: inp;
    background-color: #ffffff90;
    border-radius: 4px;
    padding: 30px;
} 

label {
    font-weight: bolder;
}

.side {
    grid-area: side;
    grid-column-start: 2;
    grid-row-start: 1;
    margin: 30px;
    border-radius: 8px;
    overflow-y: auto;
}

.content-input .side p {
    background-color: #ffffff90;
    border-radius: 4px;
}

#btn1 {
    margin: 20px 0 40px 0;
}

.btn-collor {
    background-color: #a120b3;
    border: 1px solid #a120b3;
    color: #fff;
    font-weight: 400;
    box-shadow: 2px 2px 3px #404040;
}

.btn-collor:hover {
    background-color: #740283;
    border: 1px solid #740283;
}

.btn-collor-green {
    background-color: #5eb805;
    border: 1px solid #5eb805;
    color: #fff;
    font-weight: 400;
    box-shadow: 2px 2px 3px #404040;
}

.shadow {
    box-shadow: 2px 2px 3px #404040;
}

.btn-collor-green:hover {
    background-color: #78e60b;
    border: 1px solid #78e60b;
    font-weight: 500;
}


#fieldname {
    display: block;
}

#fieldradio {
    display: block;
    margin-top: 30px;
}

.form-check-input {
    background-color: #740283;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 30px;   
}

.buttons-nav a{
    margin-right: 30px;
}

#view {
    font-size: 1.4rem;
    letter-spacing: 1rem;
}

@media (max-width: 720px) {

    .header ul{
        display: none;
    }

    .menu {
        display: block;
        margin-top: 103px;
        width: 100%;
    }


    .menu ul {
        position: absolute;
        margin-left: -78px;
        width: 100vw;
    }
    
    .menu ul li {
        display: block;
        margin: -2px;
        text-align: center;
        background-color: #740283;
    }
    
    .menu ul li:hover {
        background-color: #a120b3;
        border: none;
    } 

    .menu ul li a {
        width: 100vw;
    }

    .btn-toggle {
        display: block;
    }

    .toggle img {
        margin: 3px 5px;
    }

    .btn-toggle {
        width: 50px;
        height: 35px;
    }

    .btn-toggle:hover {
        background-color: #740283;
    }


    .content {
        background-repeat: no-repeat;
        background-size: auto 100%;
    }

    .content-input {
        width: 100%;
    }

    .header {
        width: 100%;
        height: 60px;
        position: fixed;
    }

    .content-input {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .inp {
        width: 100%;
    }

    .side {
        width: 100%;
        margin: 20px auto;
        overflow-y: auto;
    }

    .spreadsheet {
        padding: 20px 0;
        width: 100vw;
        height: 100%;
    }
    
    .all {
        margin: 20px 0;
        position: initial;
        overflow-x: auto;
    }

    .table {
        overflow-x: auto;
    }

    .table td {
        flex-wrap: nowrap;
    }

    .spreadsheet h1 {
        font-size: 1.4rem;
    }

    .spreadsheet h2 {
        font-size: 1.2rem;
    }

    .spreadsheet main span {
        font-size: 1rem;
    }

    .buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }

    .buttons-nav {
        display: flex;
        margin-bottom: 20px;
    }
}